{% extends 'base.twig' %}

{% set pageTitle = story.title %}

{% set bodyClass = 'story' %}

{% block main %}
    <h1>{{ story.title }}</h1>
    <h2>{{ story.author }}</h2>
    <h3>{{ story.date }}</h3>
    <article>
        {{ story.content|raw }}
    </article>
{% endblock %}

{% block addscripts %}
    <style>
    main > h1, main > h2 {
        display: none;
    }
    </style>
{% endblock %}
