{% extends 'base.twig' %}

{% set pageTitle = story.title %}

{% set bodyClass = 'story' %}

{% block menu %}
    <a href="/list"><< Stories</a>
{% endblock %}

{% block main %}
    <h1>{{ story.title }}</h1>
    <h2>{{ story.author }}</h2>
    <h3 class="align-center">{{ story.date|date }}</h3>
    <article>
        {{ story.content|raw }}
    </article>
{% endblock %}

{% block addscripts %}
    <style>
    main > h1, main > h2 {
        display: none;
    }
    </style>
{% endblock %}
